<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Employee registration form</h3>
      </div>
       <div class="row" style="padding:20px;">
          <form role="form" action="." method="post">
	         {% csrf_token %}
           


           {% if form.non_field_errors %}
            <p class="error">
		          {% for error in form.non_field_errors %}
		            {{ error }}
		          {% endfor %}
            </p>
           {% endif %}

           {% for field in form %}
            <div class="form-group">

		          {{ field.label_tag }}

              {% if field.field.required %}
              *
              {% endif %}
              <br/>

		          {{ field }}

		        {% if field.errors %}
		          <p class="error">
		          {% for error in field.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
            </div>
          {% endfor %}
    		<input type="submit" class="btn btn-default" value="Submit" />
   	  </form>
      </div>
    </div>
  </body>
</html>
